In [101]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [102]:
df = pd.read_csv('data_test.csv', index_col=0, parse_dates=['time_entry', 'time_exit'])

In [103]:
df.head()

,hash,trajectory_id,time_entry,time_exit,vmax,vmin,vmean,x_entry,y_entry,x_exit,y_exit
0,00032f51796fd5437b238e3a9823d13d_31,traj_00032f51796fd5437b238e3a9823d13d_31_0,2021-03-22 11:43:17,2021-03-22 11:50:17,NaN,NaN,NaN,3.773413e+06,-1.909828e+07,3.773111e+06,-1.914508e+07
1,00032f51796fd5437b238e3a9823d13d_31,traj_00032f51796fd5437b238e3a9823d13d_31_2,2021-03-22 12:21:37,2021-03-22 12:21:37,0.0,0.0,0.0,3.773199e+06,-1.914354e+07,3.773199e+06,-1.914354e+07
2,00032f51796fd5437b238e3a9823d13d_31,traj_00032f51796fd5437b238e3a9823d13d_31_3,2021-03-22 12:34:27,2021-03-22 13:14:11,NaN,NaN,NaN,3.763760e+06,-1.921342e+07,3.771757e+06,-1.911092e+07
3,00032f51796fd5437b238e3a9823d13d_31,traj_00032f51796fd5437b238e3a9823d13d_31_4,2021-03-22 13:25:33,2021-03-22 13:43:13,NaN,NaN,NaN,3.773385e+06,-1.911344e+07,3.773131e+06,-1.914465e+07
4,00032f51796fd5437b238e3a9823d13d_31,traj_00032f51796fd5437b238e3a9823d13d_31_5,2021-03-22 15:03:32,2021-03-22 15:10:32,NaN,NaN,NaN,3.773118e+06,-1.914490e+07,NaN,NaN

In [104]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 202937 entries, 0 to 202936
Data columns (total 11 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   hash           202937 non-null  object
 1   trajectory_id  202937 non-null  object
 2   time_entry     202937 non-null  datetime64[ns]
 3   time_exit      202937 non-null  datetime64[ns]
 4   vmax           54705 non-null   float64
 5   vmin           54705 non-null   float64
 6   vmean          57359 non-null   float64
 7   x_entry        202937 non-null  float64
 8   y_entry        202937 non-null  float64
 9   x_exit         169422 non-null  float64
 10  y_exit         169422 non-null  float64
dtypes: datetime64[ns](2), float64(7), object(2)
memory usage: 18.6+ MB

In [105]:
entry_dt = df['time_entry'].dt
exit_dt = df['time_exit'].dt

# extract time_entry as hour, create new column 'entry_hour'
df['entry_hour'] = entry_dt.hour

# extract time_exit as hour, create new column 'exit_hour'
df['exit_hour'] = exit_dt.hour

In [106]:
# df.head()

In [107]:
df['duration'] = df['time_exit'] - df['time_entry']

In [108]:
df.head()

,hash,trajectory_id,time_entry,time_exit,vmax,vmin,vmean,x_entry,y_entry,x_exit,y_exit,entry_hour,exit_hour,duration
0,00032f51796fd5437b238e3a9823d13d_31,traj_00032f51796fd5437b238e3a9823d13d_31_0,2021-03-22 11:43:17,2021-03-22 11:50:17,NaN,NaN,NaN,3.773413e+06,-1.909828e+07,3.773111e+06,-1.914508e+07,11,11,00:07:00
1,00032f51796fd5437b238e3a9823d13d_31,traj_00032f51796fd5437b238e3a9823d13d_31_2,2021-03-22 12:21:37,2021-03-22 12:21:37,0.0,0.0,0.0,3.773199e+06,-1.914354e+07,3.773199e+06,-1.914354e+07,12,12,00:00:00
2,00032f51796fd5437b238e3a9823d13d_31,traj_00032f51796fd5437b238e3a9823d13d_31_3,2021-03-22 12:34:27,2021-03-22 13:14:11,NaN,NaN,NaN,3.763760e+06,-1.921342e+07,3.771757e+06,-1.911092e+07,12,13,00:39:44
3,00032f51796fd5437b238e3a9823d13d_31,traj_00032f51796fd5437b238e3a9823d13d_31_4,2021-03-22 13:25:33,2021-03-22 13:43:13,NaN,NaN,NaN,3.773385e+06,-1.911344e+07,3.773131e+06,-1.914465e+07,13,13,00:17:40
4,00032f51796fd5437b238e3a9823d13d_31,traj_00032f51796fd5437b238e3a9823d13d_31_5,2021-03-22 15:03:32,2021-03-22 15:10:32,NaN,NaN,NaN,3.773118e+06,-1.914490e+07,NaN,NaN,15,15,00:07:00

In [109]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 202937 entries, 0 to 202936
Data columns (total 14 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   hash           202937 non-null  object
 1   trajectory_id  202937 non-null  object
 2   time_entry     202937 non-null  datetime64[ns]
 3   time_exit      202937 non-null  datetime64[ns]
 4   vmax           54705 non-null   float64
 5   vmin           54705 non-null   float64
 6   vmean          57359 non-null   float64
 7   x_entry        202937 non-null  float64
 8   y_entry        202937 non-null  float64
 9   x_exit         169422 non-null  float64
 10  y_exit         169422 non-null  float64
 11  entry_hour     202937 non-null  int64
 12  exit_hour      202937 non-null  int64
 13  duration       202937 non-null  timedelta64[ns]
dtypes: datetime64[ns](2), float64(7), int64(2), object(2), timedelta64[ns](1)
memory usage: 23.2+ MB

In [110]:
df['duration_s'] = df['duration']/np.timedelta64(1,'s')

In [111]:
# drop columns vmax, vmin, vmean (same process as train_data)
df = df.drop(columns=['vmax', 'vmin', 'vmean', 'hash'])

In [112]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 202937 entries, 0 to 202936
Data columns (total 11 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   trajectory_id  202937 non-null  object
 1   time_entry     202937 non-null  datetime64[ns]
 2   time_exit      202937 non-null  datetime64[ns]
 3   x_entry        202937 non-null  float64
 4   y_entry        202937 non-null  float64
 5   x_exit         169422 non-null  float64
 6   y_exit         169422 non-null  float64
 7   entry_hour     202937 non-null  int64
 8   exit_hour      202937 non-null  int64
 9   duration       202937 non-null  timedelta64[ns]
 10  duration_s     202937 non-null  float64
dtypes: datetime64[ns](2), float64(5), int64(2), object(1), timedelta64[ns](1)
memory usage: 18.6+ MB

In [113]:
# df.to_csv('edited_test.csv')

In [14]:
df[(pd.notnull(df['x_exit']) == True)]['exit_hour'].value_counts()

14    24505
13    20824
12    19316
11    17971
10    15576
9     14881
8     14470
7     11581
6      8041
0      4516
5      4441
1      3637
4      3264
3      3250
2      3149
Name: exit_hour, dtype: int64

In [16]:
df[(pd.notnull(df['y_exit']) == True)]['exit_hour'].value_counts()

14    24505
13    20824
12    19316
11    17971
10    15576
9     14881
8     14470
7     11581
6      8041
0      4516
5      4441
1      3637
4      3264
3      3250
2      3149
Name: exit_hour, dtype: int64

### Insight:
There is no device's exit data (x and y) above 14.00

In [17]:
df.isnull().sum()

trajectory_id        0
time_entry           0
time_exit            0
x_entry              0
y_entry              0
x_exit           33515
y_exit           33515
entry_hour           0
exit_hour            0
duration             0
duration_s           0
dtype: int64

==========================================================================

In [115]:
# read preprocessed test data
data = pd.read_csv('edited_test.csv', index_col=0)
data = data.set_index('trajectory_id')

In [116]:
data.head()

,time_entry,time_exit,x_entry,y_entry,x_exit,y_exit,entry_hour,exit_hour,duration,duration_s
trajectory_id,,,,,,,,,,
traj_00032f51796fd5437b238e3a9823d13d_31_0,2021-03-22 11:43:17,2021-03-22 11:50:17,3.773413e+06,-1.909828e+07,3.773111e+06,-1.914508e+07,11,11,0 days 00:07:00.000000000,420.0
traj_00032f51796fd5437b238e3a9823d13d_31_2,2021-03-22 12:21:37,2021-03-22 12:21:37,3.773199e+06,-1.914354e+07,3.773199e+06,-1.914354e+07,12,12,0 days 00:00:00.000000000,0.0
traj_00032f51796fd5437b238e3a9823d13d_31_3,2021-03-22 12:34:27,2021-03-22 13:14:11,3.763760e+06,-1.921342e+07,3.771757e+06,-1.911092e+07,12,13,0 days 00:39:44.000000000,2384.0
traj_00032f51796fd5437b238e3a9823d13d_31_4,2021-03-22 13:25:33,2021-03-22 13:43:13,3.773385e+06,-1.911344e+07,3.773131e+06,-1.914465e+07,13,13,0 days 00:17:40.000000000,1060.0
traj_00032f51796fd5437b238e3a9823d13d_31_5,2021-03-22 15:03:32,2021-03-22 15:10:32,3.773118e+06,-1.914490e+07,NaN,NaN,15,15,0 days 00:07:00.000000000,420.0

In [117]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 202937 entries, traj_00032f51796fd5437b238e3a9823d13d_31_0 to traj_fff9552047b095e8242b4913f3289a26_25_7
Data columns (total 10 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   time_entry  202937 non-null  object
 1   time_exit   202937 non-null  object
 2   x_entry     202937 non-null  float64
 3   y_entry     202937 non-null  float64
 4   x_exit      169422 non-null  float64
 5   y_exit      169422 non-null  float64
 6   entry_hour  202937 non-null  int64
 7   exit_hour   202937 non-null  int64
 8   duration    202937 non-null  object
 9   duration_s  202937 non-null  float64
dtypes: float64(5), int64(2), object(3)
memory usage: 17.0+ MB

In [154]:
# slicing data to fill (exit at 15.00 above)

part1 = data[(pd.notnull(data['y_exit']) == True)]
part2 = data[(pd.notnull(data['y_exit']) == False)]

In [155]:
part1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 169422 entries, traj_00032f51796fd5437b238e3a9823d13d_31_0 to traj_fff9552047b095e8242b4913f3289a26_25_6
Data columns (total 10 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   time_entry  169422 non-null  object
 1   time_exit   169422 non-null  object
 2   x_entry     169422 non-null  float64
 3   y_entry     169422 non-null  float64
 4   x_exit      169422 non-null  float64
 5   y_exit      169422 non-null  float64
 6   entry_hour  169422 non-null  int64
 7   exit_hour   169422 non-null  int64
 8   duration    169422 non-null  object
 9   duration_s  169422 non-null  float64
dtypes: float64(5), int64(2), object(3)
memory usage: 14.2+ MB

In [121]:
part1.isnull().sum()

time_entry    0
time_exit     0
x_entry       0
y_entry       0
x_exit        0
y_exit        0
entry_hour    0
exit_hour     0
duration      0
duration_s    0
dtype: int64

In [156]:
part2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 33515 entries, traj_00032f51796fd5437b238e3a9823d13d_31_5 to traj_fff9552047b095e8242b4913f3289a26_25_7
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   time_entry  33515 non-null  object
 1   time_exit   33515 non-null  object
 2   x_entry     33515 non-null  float64
 3   y_entry     33515 non-null  float64
 4   x_exit      0 non-null      float64
 5   y_exit      0 non-null      float64
 6   entry_hour  33515 non-null  int64
 7   exit_hour   33515 non-null  int64
 8   duration    33515 non-null  object
 9   duration_s  33515 non-null  float64
dtypes: float64(5), int64(2), object(3)
memory usage: 2.8+ MB

In [122]:
part2.isnull().sum()

time_entry        0
time_exit         0
x_entry           0
y_entry           0
x_exit        33515
y_exit        33515
entry_hour        0
exit_hour         0
duration          0
duration_s        0
dtype: int64

In [124]:
# since we're going to predict x_exit and y_exit from part2 dataset, columns x_exit and y_exit are deleted

part2.drop(columns=['x_exit', 'y_exit'], inplace=True)

C:\Users\Andita\anaconda3\lib\site-packages\pandas\core\frame.py:3990: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [125]:
part2.head()

,time_entry,time_exit,x_entry,y_entry,entry_hour,exit_hour,duration,duration_s
trajectory_id,,,,,,,,
traj_00032f51796fd5437b238e3a9823d13d_31_5,2021-03-22 15:03:32,2021-03-22 15:10:32,3.773118e+06,-1.914490e+07,15,15,0 days 00:07:00.000000000,420.0
traj_000479418b5561ab694a2870cc04fd43_25_10,2021-03-22 15:29:09,2021-03-22 15:30:56,3.769978e+06,-1.934136e+07,15,15,0 days 00:01:47.000000000,107.0
traj_000506a39775e5bca661ac80e3f466eb_29_5,2021-03-22 15:26:08,2021-03-22 15:26:08,3.757468e+06,-1.923860e+07,15,15,0 days 00:00:00.000000000,0.0
traj_0005401ceddaf27a9b7f0d42ef1fbe95_1_4,2021-03-22 15:35:18,2021-03-22 15:42:05,3.760505e+06,-1.935500e+07,15,15,0 days 00:06:47.000000000,407.0
traj_00063a4f6c12e1e4de7d876580620667_3_4,2021-03-22 14:54:07,2021-03-22 15:05:14,3.766319e+06,-1.917013e+07,14,15,0 days 00:11:07.000000000,667.0

In [126]:
part2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 33515 entries, traj_00032f51796fd5437b238e3a9823d13d_31_5 to traj_fff9552047b095e8242b4913f3289a26_25_7
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   time_entry  33515 non-null  object
 1   time_exit   33515 non-null  object
 2   x_entry     33515 non-null  float64
 3   y_entry     33515 non-null  float64
 4   entry_hour  33515 non-null  int64
 5   exit_hour   33515 non-null  int64
 6   duration    33515 non-null  object
 7   duration_s  33515 non-null  float64
dtypes: float64(3), int64(2), object(3)
memory usage: 2.3+ MB

In [130]:
# to predict x and y exit, features type as object are deleted, since it's already extracted and convert to another data type (time entry and exit to entry and exit hour; 
# duration to duration_s)

xy = part2.drop(columns=['time_entry', 'time_exit', 'duration'])
xy.head()

,x_entry,y_entry,entry_hour,exit_hour,duration_s
trajectory_id,,,,,
traj_00032f51796fd5437b238e3a9823d13d_31_5,3.773118e+06,-1.914490e+07,15,15,420.0
traj_000479418b5561ab694a2870cc04fd43_25_10,3.769978e+06,-1.934136e+07,15,15,107.0
traj_000506a39775e5bca661ac80e3f466eb_29_5,3.757468e+06,-1.923860e+07,15,15,0.0
traj_0005401ceddaf27a9b7f0d42ef1fbe95_1_4,3.760505e+06,-1.935500e+07,15,15,407.0
traj_00063a4f6c12e1e4de7d876580620667_3_4,3.766319e+06,-1.917013e+07,14,15,667.0

In [131]:
xy.info()

<class 'pandas.core.frame.DataFrame'>
Index: 33515 entries, traj_00032f51796fd5437b238e3a9823d13d_31_5 to traj_fff9552047b095e8242b4913f3289a26_25_7
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   x_entry     33515 non-null  float64
 1   y_entry     33515 non-null  float64
 2   entry_hour  33515 non-null  int64
 3   exit_hour   33515 non-null  int64
 4   duration_s  33515 non-null  float64
dtypes: float64(3), int64(2)
memory usage: 1.5+ MB

## Import Model

In [132]:
import joblib

### 1. Predict x_exit

In [133]:
model_x = joblib.load('model_x')

In [134]:
pred_x = model_x.predict(xy)

In [135]:
xy['x_exit'] = pred_x

In [136]:
xy.head()

,x_entry,y_entry,entry_hour,exit_hour,duration_s,x_exit
trajectory_id,,,,,,
traj_00032f51796fd5437b238e3a9823d13d_31_5,3.773118e+06,-1.914490e+07,15,15,420.0,3.773321e+06
traj_000479418b5561ab694a2870cc04fd43_25_10,3.769978e+06,-1.934136e+07,15,15,107.0,3.770010e+06
traj_000506a39775e5bca661ac80e3f466eb_29_5,3.757468e+06,-1.923860e+07,15,15,0.0,3.757468e+06
traj_0005401ceddaf27a9b7f0d42ef1fbe95_1_4,3.760505e+06,-1.935500e+07,15,15,407.0,3.760564e+06
traj_00063a4f6c12e1e4de7d876580620667_3_4,3.766319e+06,-1.917013e+07,14,15,667.0,3.768152e+06

### 2. Predict y_exit

In [139]:
model_y = joblib.load('model_y')

In [142]:
y = xy.drop(columns=['x_exit'])

In [143]:
pred_y = model_y.predict(y)

In [144]:
y['y_exit'] = pred_y

In [145]:
y.head()

,x_entry,y_entry,entry_hour,exit_hour,duration_s,y_exit
trajectory_id,,,,,,
traj_00032f51796fd5437b238e3a9823d13d_31_5,3.773118e+06,-1.914490e+07,15,15,420.0,-1.915042e+07
traj_000479418b5561ab694a2870cc04fd43_25_10,3.769978e+06,-1.934136e+07,15,15,107.0,-1.934069e+07
traj_000506a39775e5bca661ac80e3f466eb_29_5,3.757468e+06,-1.923860e+07,15,15,0.0,-1.923860e+07
traj_0005401ceddaf27a9b7f0d42ef1fbe95_1_4,3.760505e+06,-1.935500e+07,15,15,407.0,-1.934195e+07
traj_00063a4f6c12e1e4de7d876580620667_3_4,3.766319e+06,-1.917013e+07,14,15,667.0,-1.918350e+07

### 3. Merge result x_exit and y_exit

In [150]:
result = xy.merge(y, on=['trajectory_id', 'x_entry', 'y_entry', 'entry_hour', 'exit_hour', 'duration_s'])
result
## this is processed dataset from part2 dataframe

,x_entry,y_entry,entry_hour,exit_hour,duration_s,x_exit,y_exit
trajectory_id,,,,,,,
traj_00032f51796fd5437b238e3a9823d13d_31_5,3.773118e+06,-1.914490e+07,15,15,420.0,3.773321e+06,-1.915042e+07
traj_000479418b5561ab694a2870cc04fd43_25_10,3.769978e+06,-1.934136e+07,15,15,107.0,3.770010e+06,-1.934069e+07
traj_000506a39775e5bca661ac80e3f466eb_29_5,3.757468e+06,-1.923860e+07,15,15,0.0,3.757468e+06,-1.923860e+07
traj_0005401ceddaf27a9b7f0d42ef1fbe95_1_4,3.760505e+06,-1.935500e+07,15,15,407.0,3.760564e+06,-1.934195e+07
traj_00063a4f6c12e1e4de7d876580620667_3_4,3.766319e+06,-1.917013e+07,14,15,667.0,3.768152e+06,-1.918350e+07
...,...,...,...,...,...,...,...
traj_ffe98f6e0adf12f9c7b51c4e9607a87a_15_13,3.771512e+06,-1.912768e+07,15,15,0.0,3.771512e+06,-1.912768e+07
traj_fff607ecd3f8d3dcb65791e8b4c22a5f_3_25,3.755978e+06,-1.926623e+07,14,15,755.0,3.754873e+06,-1.925763e+07
traj_fff813b56230c2f026f783f5b9f9ca90_19_0,3.751181e+06,-1.914034e+07,15,15,0.0,3.751181e+06,-1.914034e+07
traj_fff9400843a88c3bfe52e7ce8bf97316_19_17,3.768946e+06,-1.914828e+07,15,15,331.0,3.769310e+06,-1.914614e+07
traj_fff9552047b095e8242b4913f3289a26_25_7,3.762713e+06,-1.935478e+07,15,15,0.0,3.762714e+06,-1.935478e+07

In [151]:
part1.head()

,time_entry,time_exit,x_entry,y_entry,x_exit,y_exit,entry_hour,exit_hour,duration,duration_s
trajectory_id,,,,,,,,,,
traj_00032f51796fd5437b238e3a9823d13d_31_0,2021-03-22 11:43:17,2021-03-22 11:50:17,3.773413e+06,-1.909828e+07,3.773111e+06,-1.914508e+07,11,11,0 days 00:07:00.000000000,420.0
traj_00032f51796fd5437b238e3a9823d13d_31_2,2021-03-22 12:21:37,2021-03-22 12:21:37,3.773199e+06,-1.914354e+07,3.773199e+06,-1.914354e+07,12,12,0 days 00:00:00.000000000,0.0
traj_00032f51796fd5437b238e3a9823d13d_31_3,2021-03-22 12:34:27,2021-03-22 13:14:11,3.763760e+06,-1.921342e+07,3.771757e+06,-1.911092e+07,12,13,0 days 00:39:44.000000000,2384.0
traj_00032f51796fd5437b238e3a9823d13d_31_4,2021-03-22 13:25:33,2021-03-22 13:43:13,3.773385e+06,-1.911344e+07,3.773131e+06,-1.914465e+07,13,13,0 days 00:17:40.000000000,1060.0
traj_000479418b5561ab694a2870cc04fd43_25_0,2021-03-22 08:08:23,2021-03-22 08:20:08,3.771380e+06,-1.933274e+07,3.769933e+06,-1.934095e+07,8,8,0 days 00:11:45.000000000,705.0

In [153]:
sliced = part1.drop(columns=['time_entry', 'time_exit', 'duration'])
sliced

,x_entry,y_entry,x_exit,y_exit,entry_hour,exit_hour,duration_s
trajectory_id,,,,,,,
traj_00032f51796fd5437b238e3a9823d13d_31_0,3.773413e+06,-1.909828e+07,3.773111e+06,-1.914508e+07,11,11,420.0
traj_00032f51796fd5437b238e3a9823d13d_31_2,3.773199e+06,-1.914354e+07,3.773199e+06,-1.914354e+07,12,12,0.0
traj_00032f51796fd5437b238e3a9823d13d_31_3,3.763760e+06,-1.921342e+07,3.771757e+06,-1.911092e+07,12,13,2384.0
traj_00032f51796fd5437b238e3a9823d13d_31_4,3.773385e+06,-1.911344e+07,3.773131e+06,-1.914465e+07,13,13,1060.0
traj_000479418b5561ab694a2870cc04fd43_25_0,3.771380e+06,-1.933274e+07,3.769933e+06,-1.934095e+07,8,8,705.0
...,...,...,...,...,...,...,...
traj_fff9552047b095e8242b4913f3289a26_25_2,3.762713e+06,-1.935478e+07,3.762697e+06,-1.935539e+07,11,11,579.0
traj_fff9552047b095e8242b4913f3289a26_25_3,3.762713e+06,-1.935493e+07,3.762713e+06,-1.935493e+07,11,11,0.0
traj_fff9552047b095e8242b4913f3289a26_25_4,3.761040e+06,-1.935274e+07,3.761040e+06,-1.935274e+07,12,12,0.0
traj_fff9552047b095e8242b4913f3289a26_25_5,3.762680e+06,-1.935570e+07,3.762683e+06,-1.935529e+07,13,13,227.0
traj_fff9552047b095e8242b4913f3289a26_25_6,3.761776e+06,-1.935772e+07,3.761776e+06,-1.935772e+07,14,14,0.0

In [159]:
result = result[['x_entry', 'y_entry', 'x_exit', 'y_exit', 'entry_hour', 'exit_hour', 'duration_s']]
result

,x_entry,y_entry,x_exit,y_exit,entry_hour,exit_hour,duration_s
trajectory_id,,,,,,,
traj_00032f51796fd5437b238e3a9823d13d_31_5,3.773118e+06,-1.914490e+07,3.773321e+06,-1.915042e+07,15,15,420.0
traj_000479418b5561ab694a2870cc04fd43_25_10,3.769978e+06,-1.934136e+07,3.770010e+06,-1.934069e+07,15,15,107.0
traj_000506a39775e5bca661ac80e3f466eb_29_5,3.757468e+06,-1.923860e+07,3.757468e+06,-1.923860e+07,15,15,0.0
traj_0005401ceddaf27a9b7f0d42ef1fbe95_1_4,3.760505e+06,-1.935500e+07,3.760564e+06,-1.934195e+07,15,15,407.0
traj_00063a4f6c12e1e4de7d876580620667_3_4,3.766319e+06,-1.917013e+07,3.768152e+06,-1.918350e+07,14,15,667.0
...,...,...,...,...,...,...,...
traj_ffe98f6e0adf12f9c7b51c4e9607a87a_15_13,3.771512e+06,-1.912768e+07,3.771512e+06,-1.912768e+07,15,15,0.0
traj_fff607ecd3f8d3dcb65791e8b4c22a5f_3_25,3.755978e+06,-1.926623e+07,3.754873e+06,-1.925763e+07,14,15,755.0
traj_fff813b56230c2f026f783f5b9f9ca90_19_0,3.751181e+06,-1.914034e+07,3.751181e+06,-1.914034e+07,15,15,0.0
traj_fff9400843a88c3bfe52e7ce8bf97316_19_17,3.768946e+06,-1.914828e+07,3.769310e+06,-1.914614e+07,15,15,331.0
traj_fff9552047b095e8242b4913f3289a26_25_7,3.762713e+06,-1.935478e+07,3.762714e+06,-1.935478e+07,15,15,0.0

In [162]:
df = pd.concat([sliced, result], axis=0)
df

,x_entry,y_entry,x_exit,y_exit,entry_hour,exit_hour,duration_s
trajectory_id,,,,,,,
traj_00032f51796fd5437b238e3a9823d13d_31_0,3.773413e+06,-1.909828e+07,3.773111e+06,-1.914508e+07,11,11,420.0
traj_00032f51796fd5437b238e3a9823d13d_31_2,3.773199e+06,-1.914354e+07,3.773199e+06,-1.914354e+07,12,12,0.0
traj_00032f51796fd5437b238e3a9823d13d_31_3,3.763760e+06,-1.921342e+07,3.771757e+06,-1.911092e+07,12,13,2384.0
traj_00032f51796fd5437b238e3a9823d13d_31_4,3.773385e+06,-1.911344e+07,3.773131e+06,-1.914465e+07,13,13,1060.0
traj_000479418b5561ab694a2870cc04fd43_25_0,3.771380e+06,-1.933274e+07,3.769933e+06,-1.934095e+07,8,8,705.0
...,...,...,...,...,...,...,...
traj_ffe98f6e0adf12f9c7b51c4e9607a87a_15_13,3.771512e+06,-1.912768e+07,3.771512e+06,-1.912768e+07,15,15,0.0
traj_fff607ecd3f8d3dcb65791e8b4c22a5f_3_25,3.755978e+06,-1.926623e+07,3.754873e+06,-1.925763e+07,14,15,755.0
traj_fff813b56230c2f026f783f5b9f9ca90_19_0,3.751181e+06,-1.914034e+07,3.751181e+06,-1.914034e+07,15,15,0.0
traj_fff9400843a88c3bfe52e7ce8bf97316_19_17,3.768946e+06,-1.914828e+07,3.769310e+06,-1.914614e+07,15,15,331.0
traj_fff9552047b095e8242b4913f3289a26_25_7,3.762713e+06,-1.935478e+07,3.762714e+06,-1.935478e+07,15,15,0.0

In [163]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 202937 entries, traj_00032f51796fd5437b238e3a9823d13d_31_0 to traj_fff9552047b095e8242b4913f3289a26_25_7
Data columns (total 7 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   x_entry     202937 non-null  float64
 1   y_entry     202937 non-null  float64
 2   x_exit      202937 non-null  float64
 3   y_exit      202937 non-null  float64
 4   entry_hour  202937 non-null  int64
 5   exit_hour   202937 non-null  int64
 6   duration_s  202937 non-null  float64
dtypes: float64(5), int64(2)
memory usage: 12.4+ MB

In [164]:
df.isnull().sum()

x_entry       0
y_entry       0
x_exit        0
y_exit        0
entry_hour    0
exit_hour     0
duration_s    0
dtype: int64

In [169]:
# df.to_csv('predicted_result.csv')

===============================================================

# Location Prediction: Inside or Outside city center of Atlanta

In [174]:
df = pd.read_csv('predicted_result.csv', index_col=0)

In [175]:
df.head()

,x_entry,y_entry,x_exit,y_exit,entry_hour,exit_hour,duration_s
trajectory_id,,,,,,,
traj_00032f51796fd5437b238e3a9823d13d_31_0,3.773413e+06,-1.909828e+07,3.773111e+06,-1.914508e+07,11,11,420.0
traj_00032f51796fd5437b238e3a9823d13d_31_2,3.773199e+06,-1.914354e+07,3.773199e+06,-1.914354e+07,12,12,0.0
traj_00032f51796fd5437b238e3a9823d13d_31_3,3.763760e+06,-1.921342e+07,3.771757e+06,-1.911092e+07,12,13,2384.0
traj_00032f51796fd5437b238e3a9823d13d_31_4,3.773385e+06,-1.911344e+07,3.773131e+06,-1.914465e+07,13,13,1060.0
traj_000479418b5561ab694a2870cc04fd43_25_0,3.771380e+06,-1.933274e+07,3.769933e+06,-1.934095e+07,8,8,705.0

In [176]:
df.isnull().sum()

x_entry       0
y_entry       0
x_exit        0
y_exit        0
entry_hour    0
exit_hour     0
duration_s    0
dtype: int64

In [177]:
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.compose import ColumnTransformer

In [180]:
# import model
model = joblib.load('prediction')

In [181]:
prediction = model.predict(df)

In [182]:
df['city_center'] = prediction

In [183]:
df.head()

,x_entry,y_entry,x_exit,y_exit,entry_hour,exit_hour,duration_s,city_center
trajectory_id,,,,,,,,
traj_00032f51796fd5437b238e3a9823d13d_31_0,3.773413e+06,-1.909828e+07,3.773111e+06,-1.914508e+07,11,11,420.0,0
traj_00032f51796fd5437b238e3a9823d13d_31_2,3.773199e+06,-1.914354e+07,3.773199e+06,-1.914354e+07,12,12,0.0,0
traj_00032f51796fd5437b238e3a9823d13d_31_3,3.763760e+06,-1.921342e+07,3.771757e+06,-1.911092e+07,12,13,2384.0,0
traj_00032f51796fd5437b238e3a9823d13d_31_4,3.773385e+06,-1.911344e+07,3.773131e+06,-1.914465e+07,13,13,1060.0,0
traj_000479418b5561ab694a2870cc04fd43_25_0,3.771380e+06,-1.933274e+07,3.769933e+06,-1.934095e+07,8,8,705.0,0

In [184]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 202937 entries, traj_00032f51796fd5437b238e3a9823d13d_31_0 to traj_fff9552047b095e8242b4913f3289a26_25_7
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   x_entry      202937 non-null  float64
 1   y_entry      202937 non-null  float64
 2   x_exit       202937 non-null  float64
 3   y_exit       202937 non-null  float64
 4   entry_hour   202937 non-null  int64
 5   exit_hour    202937 non-null  int64
 6   duration_s   202937 non-null  float64
 7   city_center  202937 non-null  int64
dtypes: float64(5), int64(3)
memory usage: 13.9+ MB

In [185]:
df['city_center'].value_counts()

0    141163
1     61774
Name: city_center, dtype: int64

===========================================================================

## Result

In [193]:
final = pd.DataFrame(df['city_center'])
final.head()

                                            city_center
trajectory_id
traj_00032f51796fd5437b238e3a9823d13d_31_0            0
traj_00032f51796fd5437b238e3a9823d13d_31_2            0
traj_00032f51796fd5437b238e3a9823d13d_31_3            0
traj_00032f51796fd5437b238e3a9823d13d_31_4            0
traj_000479418b5561ab694a2870cc04fd43_25_0            0

In [194]:
final.to_csv('result.csv')

In [195]:
df = pd.read_csv('result.csv')

In [196]:
df.head()

                                trajectory_id  city_center
0  traj_00032f51796fd5437b238e3a9823d13d_31_0            0
1  traj_00032f51796fd5437b238e3a9823d13d_31_2            0
2  traj_00032f51796fd5437b238e3a9823d13d_31_3            0
3  traj_00032f51796fd5437b238e3a9823d13d_31_4            0
4  traj_000479418b5561ab694a2870cc04fd43_25_0            0

In [198]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 202937 entries, 0 to 202936
Data columns (total 2 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   trajectory_id  202937 non-null  object
 1   city_center    202937 non-null  int64
dtypes: int64(1), object(1)
memory usage: 3.1+ MB